<h2>Product List</h2>
<button (click)="logout()">Logout</button>
<hr>


<div class="product-container">
  <input type="text" placeholder="Search products..." [(ngModel)]="searchTerm" class="search-input" />
  <button type="button" (click)="search()">Search</button>
  <div class="product-card" *ngFor="let p of products">
    <img src="assets/product-image.jpg" alt="Product Image" class="product-image" />
    <h3 class="product-title"> {{ p.name }}</h3>
    <p class="product-description">Category: {{ p.category }}</p>
    <p class="product-price"> ${{ p.price }} Qnt: {{ p.stock }}</p>
    <button class="add-to-cart-button">Add to Cart</button>
  </div>
</div>
