<h2>Contact Form - Template Driven Form</h2>
<div class="border">
<form #contactForm="ngForm" (ngSubmit)="submitForm(contactForm)">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" placeholder="Name" [(ngModel)]="formData.name"/>

    <br/><br>

    <label for="email">Email</label><br>
    <input type="email" id="email" name="email" placeholder="Email"[(ngModel)]="formData.email" required/>
    <div *ngIf="contactForm.submitted && contactForm.controls['email']?.invalid" style="color: red;">
        Email id required
    </div>
        <br/><br>

    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" placeholder="Password"[(ngModel)]="formData.password" required/>
    <div *ngIf="contactForm.submitted && contactForm.controls['password']?.invalid" style="color: red;">
        Password required
    </div>
    <br/>  <br/>

    <button type="submit">Submit</button>
</form>
</div>