<form [formGroup]="contactForm" (ngSubmit)="submitForm()">
  <label for="name">Reactive Name:</label>
  <input id="name" type="text" formControlName="name" />
  <div
    *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.invalid"
    style="color: red"
  >
    Name is required.
  </div>
  <br />
  <label for="email">Email:</label>
  <input id="email" type="email" formControlName="email" />
  <div
    *ngIf="
      contactForm.get('email')?.touched && contactForm.get('email')?.invalid
    "
    style="color: red"
  >
    Valid email required.
  </div>

  <br />
  <button type="submit">Submit</button>
</form>
